# Pymfony
/web/bundles/
/app/cache/*
/app/logs/*
/vendor/
/virtualenv.py

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
bin
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
